.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
test/**
.gitignore
.prettierrc
demo.png
esbuild.mts
eslint.config.mjs
pnpm-lock.yaml
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.ottotime
.github
LICENSE.txt
vitest.config.mts
pnpm-workspace.yaml
