.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.prettierrc
demo.png
esbuild.ts
eslint.config.mjs
pnpm-lock.yaml
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.ottotime
.github
LICENSE.txt
